@font-face {
  font-family: "Aller";
  src: url("./../fonts/Aller_Rg.woff2") format("woff2"),
    url("./../fonts/Aller.woff") format("woff");
}
@font-face {
  font-family: "Aller-Lt";
  src: url("./../fonts/Aller_Lt.woff2") format("woff2"),
    url("./../fonts/Aller-Light.woff") format("woff");
}

.loader {
  position: relative;
  width: 10rem !important;
  height: 10rem !important;
  top: calc(50vh - 10rem) !important;
  left: calc(50% - 5rem) !important;
}

.progress-indicator {
  position: relative;
  font-size: 3rem;
  top: calc(50vh - 3rem) !important;
  width: 100%;
  text-align: center;
}

.font-disclosure {
  font-family: "Aller", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.36px;
}

.font-light {
  font-family: "Aller-Lt", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

#root h1,
#root h2,
#root h3,
#root h4,
#root h5,
#root h6 {
  font-family: "Aller", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.36px;
}
.fh {
  min-height: 100vh;
}

#root,
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root h1 {
  font-size: 81px;
  line-height: 100px;
}

#root h2 {
  font-size: 80px;
  line-height: 103px;
}

#root h3 {
  font-size: 60px;
  line-height: 73px;
}

#root h4 {
  font-size: 50px;
  line-height: 61px;
}

#root h5 {
  font-size: 34px;
  line-height: 41px;
}

#root h6 {
  font-size: 20px;
  line-height: 22px;
}

.b-select {
  text-align: center;
}

.b-select a {
  text-decoration: none;
}

.l-gray {
  background: #f3f3f3;
}

.g-container {
  background: #f3f3f3;
  margin: 0;
  overflow: hidden;
}

.cp-be {
  border-right: solid 1px #f3f3f3;
}

.cp-bb {
  border-bottom: solid 1px #f3f3f3;
}

#root .nav-link {
  color: #000;
}

#root .nav-link.active {
  background-color: #000000;
  color: #fff;
}

.c-select {
  box-shadow: 0px 7px 40px -5px rgba(0, 0, 0, 0.25);
}

.c-select ul {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.078px;
}

.s-drop,
.s-check {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
  font-size: 16px;
  color: #333333;
  font-family: "Aller-Lt";
  font-weight: lighter;

  border-radius: 8px;
}

.s-drop {
  padding: 20px;
  line-height: 19px;
}

.s-drop .s-drop-i {
  position: absolute;
  right: 36px;
  opacity: 0.8;
  width: 20px;
  height: 8px;
  top: 24px;
  transition: all 500ms ease;
}

.s-drop.show .s-drop-i {
  transform: rotate(180deg);
}

#root .dropdown-menu {
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
}

.s-drop-ul {
  padding: 0;
}

.s-drop-li {
  min-height: 44px;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 5px;
}

.s-drop-li p {
  font-family: "Aller-Lt";
  font-style: italic;
  font-weight: lighter;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #666666;
}

.s-drop-li:last-child {
  border-bottom: none;
}

.s-drop-li:hover {
  background: #d7d7d7;
}

.s-drop-n {
  font-family: "Aller-Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  vertical-align: middle;
}

.s-drop-n:hover {
  background: none;
}

#root .dropdown-toggle::after {
  display: none;
}

.s-drop-c {
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  margin-left: 10px;
  margin-top: 2px;
  border: solid #999 1px;
}

.s-drop-p {
  font-family: "Aller-Lt";
  font-weight: lighter;
  font-size: 13px;
  line-height: 16px;
  color: #666666;
  margin-right: 10px;
  margin-top: 8px;
}

.s-check-i {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(60, 60, 67, 0.33);
  box-sizing: border-box;
  border-radius: 3px;
  background: white;
}

.s-check-i:checked {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(60, 60, 67, 0.33);
  box-sizing: border-box;
  border-radius: 3px;
  background: black;
}

.btn:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:focus {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1) !important;
}

.no-flow {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.mx-height {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.s-drop-desc {
  overflow: hidden;
  white-space: pre-wrap;
}

.quote-img {
  transform: scaleX(-1);
}

.quote-price {
  font-family: "Aller";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 17px;
  letter-spacing: -0.078px;
  color: rgba(0, 0, 0, 0.5);
}

.quote-title {
  font-family: "Aller";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.036px;
  color: #000;
}

.quote-desc {
  font-family: "Aller";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.08px;
  color: #333;
}

.quote-header1 {
  font-family: "Aller";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.quote-header2 {
  font-family: "Aller";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #8a8a8a;
  border-bottom: solid 1px black;
  padding-bottom: 3px;
}

.quote-content {
  font-family: "Aller";
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #333333;
}

.quote-request {
  border: 1px solid #e5e5ea;
  box-sizing: border-box;
  border-radius: 8px;
  height: 8.25rem !important;
}

.squareColor {
  width: 15%;
  aspect-ratio: 1;
  margin: 0.2em;
  border-radius: 8px;
  border: solid #aaa 1px;
}
.squareColor.selected {
  box-shadow: 2px 2px 12px #999;
  border: solid #000 1px;
}
.squareColor.sm {
  width: 8% !important;
}
.squareColor.ssm {
  width: 8% !important;
}

.cdrop {
  font-family: Aller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  padding: 1rem;
  padding-bottom: 0.25rem;
  margin-top: 1.5rem;
}
.print {
  min-width: 210mm;
  min-height: 297mm;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.h-logo {
  max-width: 100px;
}

@media (max-width: 767.98px) {
  #root h1 {
    font-size: 50px !important;
  }

  #root h1 {
    font-size: 40px;
    line-height: 50px;
  }

  #root h2 {
    font-size: 40px;
    line-height: 50px;
  }

  #root h3 {
    font-size: 30px;
    line-height: 36px;
  }

  #root h4 {
    font-size: 54px;
    line-height: 61px;
  }

  #root h5 {
    font-size: 17px;
    line-height: 20px;
  }

  #root h6 {
    font-size: 15px;
    line-height: 18px;
  }

  .cp-be {
    border-right: none;
  }

  .cp-bb {
    margin-bottom: 1em;
  }
}
